* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: hsla(0, 0%, 20%, 1);

    background: radial-gradient(
        circle,
        hsla(0, 0%, 20%, 1) 0%,
        hsla(0, 0%, 10%, 1) 100%
    );

    background: -moz-radial-gradient(
        circle,
        hsla(0, 0%, 20%, 1) 0%,
        hsla(0, 0%, 10%, 1) 100%
    );

    background: -webkit-radial-gradient(
        circle,
        hsla(0, 0%, 20%, 1) 0%,
        hsla(0, 0%, 10%, 1) 100%
    );
}
