* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background:
        radial-gradient(circle, #444 1px, transparent 1px) repeat,
        radial-gradient(circle, #222, #111);
    background-size:
        30px 30px,
        100% 100%;
}
