.experience {
    .timeline {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 50px;
        
        &::before {
            content: '';
            position: absolute;
            left: 50%;
            top: 0;
            bottom: 0;
            width: 5px; 
            background-color: #ACB5BD;
            box-shadow: 0 0 10px 0 #000000;
            transform: translateX(-50%);
            border-radius: 4px;

            @media (max-width: 768px) {
                display: none;
            }
        }

        .timelineItem {
            position: relative;

            .milestone {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                background-color: #ACB5BD;
                border-radius: 50%;
                height: 15px;
                width: 15px;
                z-index: 3;

                @media (max-width: 768px) {
                    display: none;
                }
            }
            

            .content {
                position: relative;
                background: #1a1a1a;
                color: white;
                padding: 10px 20px;
                border: 1px solid #222;
                border-radius: 8px;
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
                max-width: calc(40% + 20px);

                @media (max-width: 768px) {
                    max-width: 100%;
                    width: 100%;
                }
                

                .pinIcon {
                    position: absolute;
                    bottom: calc(100% - 8px);
                    left: 50%;
                    transform: translate(-50%);
                    font-size: 1.1rem;
                    color: #7493db;
                    border-radius: 50%;
                    z-index: 2;
                }
            }
        }
    }
}
